<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/normalize.css">
    <link rel="stylesheet" href="../public/skeleton.css">
</head>
<body>
    
    

    <div class="container">

<h1> Budgtr ALL</h1>

<a href="/budgets/new"><button>Make</button></a>

<% for (let i = 0; i < budget.length; i++) { %>
    
   
    <table>
<tr>
    <td><%=budget[i].date %></td>
<td colspan='4'><a href="/budgets/<%=i %>"><%=budget[i].name %> </a></td>
<td><%=budget[i].amount %></td>

</tr>
</table>
 <% } %>

    </div>
</body>
</html>